# Ignorer l'environnement virtuel
env/

# Fichiers et dossiers temporaires
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Base de données locale
db.sqlite3

# Fichiers système Windows / IDE
.vscode/
.idea/
.DS_Store

