{% extends 'base.html' %}
{% load static %}

{% block title %}Accueil - DomServices{% endblock %}

{% block content %}
<header class="text-center my-4">
    <img src="{% static 'image/accueil.png' %}" class="img-fluid w-100" alt="Accueil">

</header>

<div class="text-center mb-5">
    <h1 class="fw-bold text-primary">Bienvenue sur DomServices</h1>
    <p class="lead">
        Découvrez nos <strong>services à domicile</strong> sur mesure : 
        <span class="text-secondary">formation, assistance informatique, entretien et bien plus encore.</span>
    </p>
    <p class="mb-3">
        Simplifiez votre quotidien avec des solutions fiables, rapides et adaptées à vos besoins.
    </p>
    <a href="{% url 'services:services' %}" class="btn btn-primary btn-lg mt-3">
        Voir nos services
    </a>
</div>

{% endblock %}
